.toasted-container {
    height: fit-content;
    overflow: hidden;

    &.bottom-left {
        position: fixed;
        bottom: 1% !important;
        left: auto !important;
        margin-left: 2.5rem !important;

        @include media-breakpoint-down(md) {
            bottom: 0 !important;
            margin-left: 0 !important;
        }
    }

    .error-toast,
    .warning-toast,
    .success-toast {
        display: flex;
        align-items: center;

        @include media-breakpoint-up(md) {
            width: 19vw;
            line-height: 2rem !important;
        }

        a.action {
            i {
                color: #fff;
                font-size: 1.2rem;
            }
        }
    }

    .error-toast {
        background: $danger !important;
    }

    .warning-toast {
        background: $warning !important;
    }

    .success-toast {
        background: $success !important;
    }
}