.main {
	height: 100%;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.link {
	color: $link-color !important;
	cursor: pointer;

	&:hover {
		opacity: 0.75;
	}
}

.nuxt-loading div {
	border-left: 0.5rem solid $primary;
}

.btn:hover {
	opacity: 0.75;
}