.password-eye {
    position: absolute;
    right: 40px;
    top: 46px;
}

.cursor-pointer {
    cursor: pointer;
}

.page-container {
    margin-top: 5rem;
    min-height: 50vh;

    @media screen and (min-width: 992px) {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
}

.app-name {
    font-size: 1.5rem;
}